:root {
  --tulkr-subtitle-color: #ffff00;
}

.TULKR_container {
  position: fixed;
  bottom: 5em;
  width: 100dvw;
  border: 0.25em;
  border-color: red;
  padding: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 99999999;
  user-select: none;
  pointer-events: none;
}

.TULKR_text {
  font-size: 2.25em;
  font-weight: 600;
  text-align: center;
  color: var(--tulkr-subtitle-color);
  text-shadow: "0 0 5px #000";
  user-select: none;
  pointer-events: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  mix-blend-mode: difference;
  -webkit-text-stroke: 1px black;
}
