:root {
  --color-background: #eff6ee;
  --color-foreground: #1b2122;
  --color-primary: #200116;
  --color-primary-foreground: #eff6ee;
  --color-accent: #99a9ad;
  --color-accent-foreground: #1b2122;
  --color-danger: #ff4d4d;
  --border-radius: 0.5em;
}

.body {
  width: 28em;
  height: auto;
  padding: 0.5em 1em;
  font-family: "Noto Sans", sans-serif;
  font-optical-sizing: auto;
  background-color: var(--color-background);
  color: var(--color-foreground);
}

.icon {
  width: 1em;
  height: 1em;
  object-fit: contain;
}

.text_with_icon {
  display: flex;
  gap: 0.5em;
  align-items: center;
  height: fit-content;
  font-size: 0.85em;
  line-height: 0;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.header_logo_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
}
.header_title {
  font-weight: 600;
  font-size: 2em;
  line-height: 0%;
}
.header_logo {
  width: 2em;
  height: auto;
  object-fit: contain;
}
.header_description {
  font-size: 0.75em;
  text-align: center;
  margin-top: -0.5em;
}
.header_divider {
  width: 80%;
  height: 0.25px;
  background-color: var(--color-accent);
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 0.25em;
}


.file-upload {
  display: block;
  padding: 0.8em 1.5em;
  border-radius: var(--border-radius);
  background: var(--color-primary);
  color: var(--color-primary-foreground);
  cursor: pointer;
  font-size: 1em;
}
button {
  width: 100%;
  padding: 0.8em 1.5em;
  border-radius: var(--border-radius);
  cursor: pointer;
}

.primary {
  background: var(--color-primary);
  color: var(--color-primary-foreground);
}

.danger {
  background: transparent;
  color: #ff4d4d;
  border: 1px solid #ff4d4d;
}

.row {
  display: flex;
  gap: 10px;
}

input[type="range"] {
  width: 100%;
}
